<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petcare.web.mapper.MedicalRecordMapper">
    <insert id="insertMedicalRc" parameterType="MedicalRecordVO" >
    	insert into treatment(
			pet_no
			,hospital_id
			,treat_content
			) values(
			#{petNo}
			,#{hospitalId}
			,#{treatContent}
		)
    </insert>

</mapper>